.table-container {
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.searchbar {
    width: 300px;
    height: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(120, 1%, 28%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.center {
    display: flex;
    justify-content: center;
}